@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("fonts/untitled-font-1.eot");
  src:url("fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-1.woff") format("woff"),
    url("fonts/untitled-font-1.ttf") format("truetype"),
    url("fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cloud:before {
  content: "\61";
}
.icon-cloudbolt:before {
  content: "\62";
}
.icon-column:before {
  content: "\63";
}
.icon-curl:before {
  content: "\64";
}
.icon-flame:before {
  content: "\65";
}
.icon-fountain:before {
  content: "\66";
}
.icon-hadesshadow:before {
  content: "\67";
}
.icon-helmet1:before {
  content: "\68";
}
.icon-helmet2:before {
  content: "\69";
}
.icon-hercbust:before {
  content: "\6a";
}
.icon-laurelbranch:before {
  content: "\6b";
}
.icon-lbolt:before {
  content: "\6c";
}
.icon-lyre:before {
  content: "\6d";
}
.icon-vase2:before {
  content: "\6e";
}
.icon-vase1:before {
  content: "\6f";
}
.icon-tree:before {
  content: "\70";
}
.icon-thickcurl:before {
  content: "\71";
}
.icon-sword:before {
  content: "\72";
}
.icon-squarecurl:before {
  content: "\73";
}
.icon-squareborder:before {
  content: "\74";
}
.icon-skullpin:before {
  content: "\75";
}
.icon-shipicon:before {
  content: "\76";
}
.icon-megbust:before {
  content: "\77";
}

.icon-cloud:before {
  content: "\78";
}
.icon-ick-bust:before {
  content: "\79";
}
.icon-cass-bust:before {
  content: "\7a";
}
